name: Swift CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Xcode 16.2
      run: sudo xcode-select -s /Applications/Xcode_16.2.app/Contents/Developer

    - name: Build with Xcode
      run: |
        xcodebuild -scheme ToDoSwift -sdk iphonesimulator -destination "platform=iOS Simulator,name=iPhone 16" clean build


    # Seleccionar la versi贸n de Xcode
    - name: Select Xcode Version
      run: sudo xcode-select -switch /Applications/Xcode.app

    # Instalar SwiftLint para an谩lisis de c贸digo
    - name: Install SwiftLint
      run: brew install swiftlint

    - name: Run SwiftLint
      run: swiftlint || echo "锔 SwiftLint encontr贸 problemas pero no detendr谩 la build."

    # Compilar el proyecto con Xcode
    - name: Build with Xcode
      run: xcodebuild -scheme "ToDoSwift" -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 16' clean build

    # Ejecutar pruebas con cobertura de c贸digo
    - name: Run tests
      run: xcodebuild -scheme "ToDoSwift" -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 16' test

    # Notificar si la build falla en Slack
    - name: Notify on Failure
      if: failure()
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_MESSAGE: " La build de Swift fall贸 en GitHub Actions"
