name: Swift CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-13

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    # Soluci贸n sin xcode-install
    - name: Setup Xcode
      run: sudo xcode-select --switch /Applications/Xcode_16.2.app/Contents/Developer

    - name: Check Xcode Version
      run: xcodebuild -version

    - name: Install Xcode 16.2 using xcode-install
      run: |
        gem install xcode-install
        xcversion install "16.2" || echo "Xcode 16.2 ya est谩 instalado"

    

    # Soluci贸n con xcode-install (requiere configurar secretos de Apple Developer)
    # env:
    #   FASTLANE_USER: ${{ secrets.APPLE_ID }}
    #   FASTLANE_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
    # - name: Install Xcode 16.2
    #   run: |
    #     gem install xcode-install
    #     xcversion install "16.2"
    #     sudo xcode-select -s /Applications/Xcode_16.2.app/Contents/Developer

    - name: Build with Xcode
      run: |
        xcodebuild -scheme ToDoSwift -sdk iphonesimulator -destination "platform=iOS Simulator,name=iPhone 16" clean build
    - name: Install SwiftLint
      run: brew install swiftlint

    - name: Run SwiftLint
      run: swiftlint || echo "锔 SwiftLint encontr贸 problemas pero no detendr谩 la build."

    - name: Run tests
      run: xcodebuild -scheme "ToDoSwift" -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 16' test

    - name: Notify on Failure
      if: failure()
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_MESSAGE: " La build de Swift fall贸 en GitHub Actions"

